@model IEnumerable<Feedback>;

@{
    Layout = "~/Views/Shared/Customer_Layout.cshtml";

}

<table class="table table-bordered">
    <thead>

        <tr>
            <th>Feedback</th>
           

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.F_feedback)</td>
                
            </tr>

        }
    </tbody>


</table>
