@model IEnumerable<Customer>;

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";

}
<h1>Customer List</h1>
<table class="table table-bordered">
    <thead>

        <tr>
            <th>Location</th>
            <th>PH</th>
      
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.C_name)</td>
                <td>@Html.DisplayFor(modelItem => item.C_ph)</td>
                
            </tr>

        }
    </tbody>


</table>
