@model Turf_details

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Create</h1>
<form method="post" class="row g-3">
    <div class="col-md-6">
        <label asp-for="T_location" class="form-label">Location</label>
        <input asp-for="T_location" class="form-control" />
        <span asp-validation-for="T_location" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="T_ph" class="form-label">Ph</label>
        <input asp-for="T_ph" class="form-control" />
        <span asp-validation-for="T_ph" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="T_from_timing" class="form-label">Open</label>
        <input type="time" asp-for="T_from_timing" class="form-control" />
        <span asp-validation-for="T_from_timing" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="T_to_timing" class="form-label">Close</label>
        <input type="time" asp-for="T_to_timing" class="form-control" />
        <span asp-validation-for="T_to_timing" class="text-danger"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" asp-controller="Admin" asp-action="Turf_Reg">Submit</button>
    </div>
</form>


